@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --animate-wave: wave 2.5s ease-in-out 2;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.55 0.17 195);
  --chart-2: oklch(0.6 0.16 75);
  --chart-3: oklch(0.5 0.18 300);
  --chart-4: oklch(0.7 0.16 85);
  --chart-5: oklch(0.65 0.2 30);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.78 0.14 195);
  --chart-2: oklch(0.8 0.14 75);
  --chart-3: oklch(0.68 0.18 300);
  --chart-4: oklch(0.8 0.15 85);
  --chart-5: oklch(0.72 0.18 30);
}

@keyframes wave {
  0%, 100% { rotate: 0deg; }
  10% { rotate: 14deg; }
  20% { rotate: -8deg; }
  30% { rotate: 14deg; }
  40% { rotate: -4deg; }
  50% { rotate: 10deg; }
  60% { rotate: 0deg; }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    white-space: pre-wrap;
  }
  body {
    @apply bg-background text-foreground;
  }
}
